# Misc
.DS_Store

# Editors
.idea

# Environment
.env

# .NET
[Bb]in/
[Oo]bj/

# Frontend / Svelte
node_modules
.svelte-kit
build
package
.env.*
!.env.example
.vercel
.output
yarn.lock

# Database
pgdata
